@import '../../styles/custom-properties.css';

.iconDarkMode {
  color: var(--color-light-gray);
}

.search {
  display: inline-block;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  width: auto !important;
  max-width: none !important;
  position: relative;
  background: blue;

  @nest & input {
    padding-left: 0;
    display: inline !important;
  }

  @nest & svg {
    display: inline !important;
    width: 2rem;
  }
}
