@import '../../styles/custom-properties.css';

.searchContainer {
  display: inline-block;
  position: relative;
}

.icon {
  height: 2rem;
  position: absolute;
}

.search {
  padding-left: 2rem !important;
}
