@import '../../styles/custom-properties.css';
@import '../../styles/custom-media.css';

.root {
  position: relative;
  display: inline-block;
  align-self: center;
  width: calc(60px * 0.8);
  height: calc(34px * 0.8);
  cursor: pointer;

  @media (--media-min-small) {
    width: 60px;
    height: 34px;
  }
}

.icon {
  position: absolute;
  height: 20px;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.icon:first-of-type {
  left: initial;
  right: 4%;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-black);
  transition: 0.4s;
  border-radius: calc(34px * 0.8);

  @media (--media-min-small) {
    border-radius: 34px;
  }
}

.sliderBeforeDarkMode {
  background-color: var(--blue-400) !important;
}

.slider:before {
  position: absolute;
  content: '';
  background-color: var(--color-white);
  transition: transform 0.4s;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(26px * 0.8);
  width: calc(26px * 0.8);
  left: calc(4px * 0.8);
  bottom: calc(4px * 0.8);
  z-index: 1;

  @media (--media-min-small) {
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
  }
}

.input:checked + .slider:before {
  transform: translateX(calc(26px * 0.8));

  @media (--media-min-small) {
    transform: translateX(26px);
  }

  @nest & .slider {
    background-color: red;
  }
}
