@import './custom-properties.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

*.dark-color {
  color: var(--color-black);
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

body.dark {
  background: var(--color-black);
  color: var(--color-white);
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

button,
a {
  cursor: pointer;
}
