@import './custom-properties.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

*.dark-color {
  color: var(--color-black);
}

*.white-background-color {
  background-color: var(--color-white) !important;
}

*.dark-gray-background-color {
  background-color: var(--color-dark-gray) !important;
}

*.black-background-color {
  background-color: var(--color-black);
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-white);
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
  font-weight: 500;
  font-family: var(--font-family-sans);
}

body.dark {
  background: var(--color-black);
  color: var(--color-gray);
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

button,
a {
  cursor: pointer;
}

blockquote {
  border-left: 0.21875rem solid var(--color-accent);
  padding-left: 0.9375rem;
}

code:not(.code-block) {
  background-color: var(--color-very-light-gray);
  border-radius: 0.125rem;
  padding: 0.0625rem 0.125rem;
  font-weight: 600;
  font-size: var(--font-base-size);
}

body.dark code:not(.code-block) {
  background-color: #262f3d;
  border-radius: 0.125rem;
  padding: 0.0625rem 0.125rem;
  font-weight: 600;
  font-size: 2rem;
  font-size: var(--font-base-size);
}
