@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  position: relative;
  z-index: 100;
  border-bottom: 0.0625rem solid;
  background-color: var(--color-white);
  border-bottom-color: var(--color-very-light-gray);

  @media (--media-min-small) {
    font-size: 19px;
  }
}

.rootDarkMode {
  composes: root;
  border-bottom-color: var(--color-black);
  background-color: var(--color-black);
  color: var(--color-gray);
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
}

.branding {
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  test: prop;
  color: inherit;
}

.brandingInner {
  position: absolute;
  height: 2em;
  width: 2em;
}

.brandingLink {
  text-decoration: none;
  display: flex;
  color: inherit;

  @nest & svg {
    height: 2em;
    width: 2em;
  }
}

.branding:hover {
  color: var(--color-accent);
}

.toggleNavButton {
  appearance: none;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;

  & svg {
    width: 2em;
    height: 2em;
    display: block;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  background-color: var(--color-white);
  color: var(--color-black);

  @media (--media-max-small) {
    overflow: hidden;
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
    height: 0;
  }
}

.navDarkMode {
  composes: nav;
  background-color: var(--color-black);
  color: var(--color-gray);
}

.navInner {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.25em;
  height: 100%;

  @media (--media-min-small) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.link {
  padding: 0.25em;
  cursor: pointer;
  border-radius: 0.1875em;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-decoration: none;
  color: inherit;
  margin: 1em 0;
  font-size: var(--font-title2-size);

  @media (--media-min-small) {
    font-size: var(--font-large-size);
    margin: 0;
    margin-left: 0.5em;
  }
}

.link:hover {
  background-color: #00bbd417;
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.linkActive {
  composes: link;
  color: var(--color-accent) !important;
  background-color: #00bbd417;
}

.toggleSwitchContainer {
  display: flex;
  align-items: center;
  padding: 0.25em 0 0 0.25em;
  margin-bottom: 1em;

  @media (--media-min-small) {
    padding-top: 0;
    margin-bottom: 0;
  }
}
