.root {
	cursor: pointer;
	position: relative;
}

.tagCloudSkillTag {
	font-weight: 800;
	left: 50%;
	position: absolute;
	top: 50%;
	transform-origin: 50% 50%;
	transition: all 0.1s;
	will-change: transform, opacity, filter;
}
