@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  border-radius: 0.1875rem;

  @media (--media-min-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.875rem;
  }
}

.leftColumn {
  height: 50vh;

  @nest & * {
    border-radius: 0.1875rem;
  }
}

.rightColumn {
  flex: 1;

  @nest & > div {
    margin-bottom: 0.625rem;
  }

  /* @nest & input {
    border: 0.125rem solid var(--color-black);
    border-radius: 0.1875rem;
    flex: 1;
    font-size: var(--font-large-size);
    padding: 0.625rem 0.3125rem;
  }

  @nest & textarea {
    border: 0.125rem solid var(--color-black);
    border-radius: 0.1875rem;
    flex: 1;
    font-size: var(--font-large-size);
    padding: 0.625rem 0.3125rem;
    font-family: inherit;
  } */
}

.darkMode {
  @nest & input {
    background-color: var(--color-black);
    border-color: var(--color-light-gray);
    color: var(--color-white);
  }

  @nest & textarea {
    background-color: var(--color-black);
    border-color: var(--color-light-gray);
    color: var(--color-white);
  }
}

.title {
  composes: title1 from '../typography.module.css';
  margin-top: 0;
}

.topRow {
  width: 100%;

  @nest & input {
    margin-bottom: 0.625rem;
    width: 100%;
  }

  @media (--media-min-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.625rem;
  }
}

.topRow input {
  @media (--media-min-large) {
    margin-bottom: 0;
  }
}

.topRow input:last-child {
  margin-bottom: 0;
}

.middleRow {
  display: flex;
}

.bottomRow {
  display: flex;
  flex-direction: column;
}

.button {
  composes: large from '../typography.module.css';
  border: 0.125rem solid;
  border-radius: 0.1875rem;
  margin-top: 0.625rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
  font-size: var(--font-large-size);
  padding: 0.15625rem 0.625rem;
}

.button:hover {
  color: var(--color-accent);
}

.buttonDarkMode {
  background-color: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-white);
}
