@import '../../styles/custom-properties.css';

.root {
  composes: inputReset from '../../components/resets.css';
  font-size: var(--font-large-size);
  border: 0.125rem solid var(--color-black);
  border-radius: 0.1875rem;
  width: 100%;
  font-family: inherit;
  max-width: 480px;
  padding-left: 0.3125rem;
}

.rootDarkMode {
  color: var(--color-white);
  border-color: var(--color-light-gray);
}

.root::placeholder {
  color: var(--color-light-gray) !important;
}
