@import '../../styles/custom-properties.css';

.root {
  font-size: var(--font-large-size);
  border-color: inherit;
  color: inherit;
  border: 0.125rem solid;
  border-radius: 0.1875rem;
  width: 100%;
  font-family: inherit;
  max-width: 480px;

  @nest & svg {
    height: 2rem;
  }
}

.rootDarkMode {
  color: var(--color-white);
  border-color: var(--color-light-gray);
}

.input {
  composes: inputReset from '../../components/resets.css';
  width: 100%;
  height: 100%;
  padding: 0.15625rem 0.625rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: var(--font-large-line-height);
}

.input::placeholder {
  color: var(--color-light-gray) !important;
}

.textArea {
  composes: inputReset from '../../components/resets.css';
  font-size: var(--font-large-size);
  padding: 0.15625rem 0.625rem;
  border-color: inherit;
  color: inherit;
  border: 0.125rem solid;
  border-radius: 0.1875rem;
  width: 100%;
  font-family: inherit;
  max-width: 480px;
}

.textArea::placeholder {
  color: var(--color-light-gray) !important;
}
